/* template by @clkcrompton */

/*To find out what each of the selectors, properties, and values below do, 
try changing the values, saving your css, saving your html page, and refreshing
your browser*/

body {	
	
    background-image: url(../images/bg.jpg);  
    background-size: auto;
    background-repeat: repeat;
	padding: 20px;

}

div {
    height:120px;
    width:120px;
    display: inline-block;
}

a {
    color: antiquewhite;
}
a:hover {
    color: rosybrown;
}

h1 {
     margin-left: 10%;
    margin-right: 10%;
	font-family: Courier, monospace;
  	font-size: 45px;
	text-align: center;
    background-color: white;
    border: 3px solid saddlebrown;
    background-size: cover;
    color: #673713;  
    padding: 5px;
}

h2 {
	font-family: Courier;
    font-size: 30px;
    color: #673713;
    
}

h3 {
	font-family: Courier;
    font-size: 25px;
    color: #6E513C;
    margin-bottom: -5px;
    
}

h4 {
	font-family: Courier;
    font-style: bold;
    font-size: 19px;
    color: #673713;
    margin-bottom: -15px;
}

p {	
	font: Times;
	font-size:18px;
}

em{
    font: courier;
    font-size: 12px;
    text-align: center;
}

img {	
	/* Add the css to control your images here */
	margin: 10px;
    position: sticky; 
    
}

ol {
    color: black;
}

article{
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    border: 3px solid saddlebrown;
    margin-left: 10%;
    margin-right: 10%;
    
}

/* Sets the highlight colour in most browsers */
::selection {
  background: #E1D4C3;
} 
/* Sets the highlight colour in Firefox */
::-moz-selection {
  	background: #E1D4C3;
}

/* centers the embedded video in moment.html */
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


/* Rules for elements with @class and @id attributes below */
nav ul {
    width: 80%;
    margin: auto;
    list-style-type: none;
    padding-bottom: 30px;
    padding-left: 0px;
    overflow: hidden;  
    padding-left: 55px;
}

nav li {
    font-family: Courier;
    background-color: #6E513C;
    float: left; 
    border: 1px solid antiquewhite; 
    
}

li a {
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 10px;
    text-decoration: none; 
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {   
   background-color: #6E513C; 
    font-family: courier;
    font-size: 15px;
   width: 100%;
    height: auto;
   margin-top: 20px;
    margin-bottom: -10px;
    margin-right: -5px;
    text-align: center;
    color: antiquewhite;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ref {
    color: black;
    text-align: left;
}

.extend {
    padding-bottom: 20%;
}

.timeline{
    font-family: courier;
    color: #6E513C;
}

.clear {clear:both;}
.featured {border: 1px solid brown;padding: 1em;background-color:antiquewhite;}