/* template by @clkcrompton */

/*To find out what each of the selectors, properties, and values below do, 
try changing the values, saving your css, saving your html page, and refreshing
your browser*/

body {	
	font-family: "Courier", "Times", monospace, serif;
    background-image: url(../images/bg.jpg);  
    background-size: auto;
    background-repeat: repeat;

}

div {
    height:120px;
    width:120px;article
    display: inline-block;
}

a {
    color: antiquewhite;
}
a:hover {
    color: rosybrown;
}
/* position styles */
.alignright {float:right;margin-right: .2em;}
.alignleft {float:left;margin-right: .2em;}
h1 {
     margin-left: 10%;
    margin-right: 10%;
  	font-size: 45px;
	text-align: center;
    background-color: white;
    border: 3px solid saddlebrown;
    background-size: cover;
    color: #673713;  
    padding: 5px;
}

h2 {
    font-size: 30px;
    color: #673713;
    
}

h3 {
    font-size: 25px;
    color: #6E513C;
    margin-bottom: -5px;
    
}

h4 {
    font-style: bold;
    font-size: 19px;
    color: #673713;
    margin-bottom: -15px;
}

p {	
	font: Times;
	font-size:18px;
	margin-bottom: .2em;
}

em{
    font-size: 12px;
    text-align: center;
}

img {	
	/* Add the css to control your images here */
	margin: 10px;
    position: sticky; 
    
}

article{
    background-color: white;
    padding: 2%;
    border: 3px solid saddlebrown;
    margin: 0 10% 5% 10%;
    
}

/* Sets the highlight colour in most browsers */
::selection {
  background: #E1D4C3;
} 
/* Sets the highlight colour in Firefox */
::-moz-selection {
  	background: #E1D4C3;
}

/* centers the embedded video in moment.html */
iframe{
	display: block;
	margin: 0 auto;
	clear: both;
}


/* Rules for elements with @class and @id attributes below */
nav ul {
    width: 62em;
    margin: 0 auto;
    margin-bottom: 3em;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    background-color: #6E513C;
    float: left; 
    border: 1px solid antiquewhite; 
    
}

li a {
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 10px;
    text-decoration: none; 
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer { 
	position:fixed; bottom:5px; right:5px;
   background-color: #6E513C; 
    font-size: 15px;
   width: 100%;
    height: auto;
   margin-top: 20px;
    margin-bottom: -10px;
    margin-right: -5px;
    text-align: center;
    color: antiquewhite;
    padding-top: 15px;
    padding-bottom: 15px;
	
}

.extend {
    padding-bottom: 20%;
}

.timeline{
    color: #6E513C;
}

.clear {clear:both;}
.featured {border: 1px solid brown;padding: 1em;background-color:antiquewhite;}
